@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #ff7600;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #f4f4f4;
  color: #2c061f;
  line-height: 1.6;
}
.outer_bg {
  background-color: white;
  height: 70px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.outer_bg .flex {
  justify-content: space-between;
}
.header_logo h2 {
  color: #ff7600;
}
.header_search input[type="text"] {
  width: 100%;
  padding: 6.5px;
  font-size: 16px;
  border-radius: 50px;
  padding-left: 37px;
  background: #f0f2f5;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.post_comment input[type="text"] {
  width: 100%;
  padding: 6.48px;
  font-size: 16px;
  background: #f0f2f5;
  border: 2px solid black;
  border-radius: 0;
}
.header_search input[type="text"]:focus {
  outline: none;
}
.header_search .btn:hover {
  transform: none;
}
.header_logo {
  margin-right: 35px;
}
.header_logo img {
  width: 65px;
}
.header-nav i {
  color: var(--primary-color);
  font-size: 15px;
  padding: 10px;
  border: 2px solid var(--secondary-color);
  transition: 0.3s;
  border-radius: 10px;
}
.header-nav .flex {
  justify-content: space-evenly;
}
.nav_icons i:hover {
  color: var(--secondary-color);
  border: 2px solid var(--primary-color);
}
.post_information.flex {
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-comment.flex {
  justify-content: space-between;
}
.pagination_section a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  text-align: center;
  background-color: var(--primary-color);
  margin: 7px;
  padding-left: 12px;
  color: white;
}
.addpost_section input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.addpost_section input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login.flex {
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login .inner-login-box {
  width: 350px;
  height: 500px;
  background-color: white;
  padding: 20px;
}
.login.signup .inner-login-box {
  width: 500px;
  height: 700px;
  background-color: white;
  padding: 20px;
}
.inner-login-box input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}
.inner-login-box input[type="sumbit"] {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.inner-login-box img {
  width: 105px;
  border-radius: 10px;
}
.inner-login-box.flex {
  flex-direction: column;
}
.assignment_user_table th,
td {
  padding: 15px 20px;
  text-align: center;
  font-size: 17px;
}
.assignment_user_table th {
  background-color: var(--primary-color);
  color: var(--light-color);
}
table.assignment_user_table {
  border-collapse: collapse;
}
.assignment_user_table tr:nth-child(even) {
  background-color: white;
}
.assignment_user_table i {
  font-size: 25px;
}
.pay_tbl {
  background-color: white;
}
.user_pay {
  width: 100%;
  padding: 10px 10px 0;
}
.user_pay th,
td {
  padding: 15px 20px;
  text-align: left;
  font-size: 17px;
}
.user_pay tr:nth-child(odd) {
  background-color: #f4f4f4;
}
.abs {
  position: relative;
}

.abs i {
  position: absolute;
  top: 40%;
  right: 13px;
}
.payment_section {
  width: 100%;
}
.payment_section.flex {
  flex-direction: column;
}
.no_padding {
  padding: 0;
  background: white;
}
.payment_section input {
  width: 100%;
  padding: 10px 10px 10px;
}
.icon_d {
  font-weight: bold;
  height: 35px !important;
  width: 115px;
  margin: 0 auto;
}
.icon_d i {
  position: relative;
  font-size: 17px;
  margin-right: 5px;
}
.icon_d.red {
  background: red;
  color: white;
}
.icon_d.green {
  background: green;
  color: white;
}
.icon_d.blue {
  background: blue;
  color: white;
}
.bouncing {
  position: relative;
  overflow: hidden;
  animation-name: bouncer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  color: #f4f4f4;
}
.post_title {
  color: green;
}

.post_title h2 i {
  font-size: 22px;
  margin-right: 12px;
}
.post_information h5 {
  font-size: 16px;
}
.single-comment h5 i {
  margin-right: 10px;
}
.post_information h5 i {
  margin-right: 10px;
  font-size: 15px;
}
.post_desc p {
  font-size: 20px;
  font-weight: 600;
}
.post_comment p {
  font-size: 18px;
  font-weight: 600;
}

.post_comment h5 {
  font-size: 16px;
}
.nav_icons img {
  height: 30px;
  width: 30px;
}

.flex-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a.flex-c p {
  font-size: 15px;
  font-weight: 900;
  padding-top: 4px;
}
.header-nav {
  background: white;
  position: sticky;
  width: 100%;
  top: 0;
  margin-top: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 10;
}
#commment_toggle {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  color: blue;
  font-weight: 800;
}
.d_none {
  display: none;
}
.header_logo.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_search {
  background: white;
}
.header_search .flex {
  justify-content: space-between;
}
.logo img {
  width: 70px;
}
.search_bar {
  position: relative;
}

.search_bar i {
  position: absolute;
  color: gray;
  top: 12px;
  left: 16px;
  font-size: 17px;
}

.up_section input[type="file"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}
.up_section input[type="file"] {
  display: none;
}
.up_section .custom-file-upload {
  border: 4px dotted green;
  display: block;
  padding: 12px 12px;
  cursor: pointer;
}
.post_title.flex {
  justify-content: space-between;
}
.loading-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 4px solid white;
  border-right-color: transparent;
  border-radius: 50%;
  animation: loading_spinner 1s linear infinite;
}
.taken_red {
  position: relative;
}
.nontaken_green {
  position: relative;
}
.taken_red::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  content: "";
  background: red;
  height: 10px;
}
.nontaken_green::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  content: "";
  background: green;
  height: 10px;
}
.uplaod_img {
  height: 30px;
  width: 30px;
}
.up_section .flex {
  justify-content: space-between;
}

.info_section {
  flex: 0.5;
  align-self: center;
}

.upload_section {
  flex: 0.5;
}
@media only screen and (max-width: 700px) {
  .up_section .flex {
    display: flex;
    flex-direction: column;
  }
  .info_section {
    flex: 1;
    margin-right: 10px;
    align-self: flex-start;
  }
  .upload_section {
    flex: 1;
  }
}
@keyframes loading_spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes bouncer {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
